*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
} 

.hero__section {
  background: url(images/heroSectionBackground.png);
  background-size:cover ;
  background-position: center;
  color: white;
  height: 60vh;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 16px 200px;
}

.navbar a{
  text-decoration: none;
  color: white;
  font-weight: 300;
  font-size: 18px;
}

.navbar__menu_container{
  display: flex;
  gap: 30px;
}

.navbar__menu_container .user__icon{
  height: 30px;
  width: 30px;
  border: solid 1px white;
  border-radius: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  display: none;
}

.hero__section_container{
  display: flex;
  flex-direction:column ;
  align-items: center;
  justify-content: center;
  gap: 32px;
  min-height: calc(60vh - 60px);
}

.hero__section_logo{
  width: 300px;
  height: auto;
}

.hero__section_title{
  text-align: center;
  font-size: 230%;
  font-weight: 300;
  padding-bottom: -10px;
}

.hero__section_container_input{
  background: white;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 10px;
  width: 51%;
  border-radius: 10px;
  margin-bottom: 90px;
}

.input_location , .input_search{
  border: none;
  padding: 5px;
  outline: none;
}
.input_location{
  width: 35%;
  border-right:solid 2px #e0e0e0 ;
}
.input_search{
  width: 65%;
}
/*---------------------------------------------------------Card Container------------------------------------------------------------------------*/
.container__main{
  margin: 2rem auto;
  width: 100%;
}
.container_we_offer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  
}
.we_offer_card{
  border-radius:10px ;
  overflow: hidden;
  border:solid 1px #e0e0e0;
  transition: all 0.3s ease;
  width: 23%;
  min-width: 200px;
}
.we_offer_card:hover{
  transform: scale(1.05);
}
.we_offer_card img{
  width: 100%;
  height: 145px;
  object-fit: cover;
  object-position: center;
}
.we_offer_card h2{
font-size: 20px;
font-weight: 500;
}
.we_offer_card p{
  font-size: 15px;
  font-weight:300;
  color: #585e6a;
}
.we_offer_content{
  padding: 14px;
}
/*---------------------------------------------------------Card Container------------------------------------------------------------------------*/
.collection__section{
  max-width: 72%;
  margin: 3rem auto;
}
.collection__span{
  display: flex;
  justify-content: space-between;
  gap:1rem;
  font-size: 17px;
  flex-wrap: wrap;
  font-weight: 300;
}
.collection__section h1{
  font-size: 40px;
  font-weight: 500;
}
.collection__section span:nth-child(2){
  color: #ff7e8b;
  cursor: pointer;
}
.collection__card_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 0.5rem;
}
.collection__card{
  width: 267px;
  height: 20rem;
  border-radius: 10px;
  background-size: cover;
  position: relative;
  background-position: center;
  color: white;
  cursor: pointer;
}
.c11{
  background-image: url(images/collection1.jpg);
}
.c12{
  background-image: url(images/collection2.jpg);
}
.c13{
  background-image: url(images/collection3.jpg);
}
.c14{
  background-image: url(images/collection4.jpg);
}
.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  background: linear-gradient(0deg, black, transparent);
}
.collection__card_content {
  padding: 12px 16px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.collection__card_content h4{
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
}
.collection__card_content p{
  font-size: 14px;
  font-weight: 300;
}
/*---------------------------------------------------------App Container-------------------------------------------------------------------------*/
.container__app{
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255,251,247);
  padding: 3rem 6rem;
}
.container__app_contain{
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}
.left{
  display: flex;
  justify-content: center;
  align-items: center;
  flex:2;
}
.left img{
  max-width: 100%;
  object-fit: cover;
  object-position: center;

}

.right{
  flex: 3;
  display: flex;
  flex-direction: column;
  gap:1.5rem;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.right h1{ 
  font-size: 2.7rem;
  font-weight: 500;
  align-self: left;
  letter-spacing: 0.9px;
  width: 100%;
}
.right p{
  font-size: 15px;
  font-weight: 300;
  align-self: left;
  width: 100%;
}
.right>.radiobutton{
  display: flex;
  gap: 3rem;
  align-items: center;
  width: 100%;
}
.right>.radiobutton div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  accent-color: rgb(239,79,95);
}
.right>.radiobutton input {
  width: 20px;
  height: 20px;
}
.right>.inputtext{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 0.5rem;
  width: 100%;
}
.right>.inputtext input{
  flex: 3;
  border-radius: 5px;
  border: 1px solid #bbb6b1;
  outline: none;
  padding: 10px 12px;
}
.right>.inputtext button{
  flex: 2;
  font-size: 17px;
  color: white;
  background-color: #ef4f5f;
  border:none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 12px;
}
.right>.downloadimg{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap:1rem;
  width: 100%;
}

.right>.downloadimg h5{
  color: #9f9992;
  font-weight: 400;
  font-size: 16px;
}
.right>.downloadimg div{ 
  display: flex;
  gap: 1rem;
}

.right>.downloadimg > div > img{
  cursor: pointer;
  max-width: 30%;
}
/*---------------------------------------------------------Footer section-------------------------------------------------------------------------*/
.footer__section{
  width: 100%;  
}
.footer__section1{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  flex-wrap: wrap;
}
.footer__section img{
  width: 120px;
}
.footer__section1_buttons{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.footer__section1_buttons button{
  display: flex;
  padding: 5px 5px;
  border: 1px solid  gray;
  border-radius: 5px;
  background-color: transparent;
  width: 105px;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
} 
.navigation__container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 80%;
  gap: 1rem;
  margin: auto;
  padding: 3rem 0;
}
.link_container{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.link_container h5{
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 5px;
  letter-spacing: 0.8px;
}
.footer_link{
  text-decoration: none;
  color: grey;
  cursor: pointer;
  font-size: 13px;
  font-weight: 400;
}

.footer_link:hover{
  color:black;
}
.social_links{
  display: flex;
  gap: 0.5rem;
}
.social_links button{
  background-color: black;
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social_links button i{
  color: white;
  font-size: 13px;
}
.footer_downloadlogos{
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
  margin: 1rem 0;
}



/*---------------------------------------------------------Below 1300px width---------------------------------------------------------------------*/
@media only screen and (max-width:1300px) {      
  .container__app_contain> .left , .right{
    flex: 1;
  }
  .container__app_contain>.right>.inputtext{
    flex-direction: column;
  }
  .container__app_contain{
    width: 80%;
  }
}

/*---------------------------------------------------------Below 900px width---------------------------------------------------------------------*/
@media only screen and (max-width:900px) {      
  .container__app_contain> .left , .right{
    padding: 2rem 0rem;
  }
  .container__app_contain>.right>.inputtext{
    flex-direction: column;
  }
  .container__app_contain{
    width: 90%;
  }
  .container__app_contain>.right h1{
    font-size: 2.2rem;
  }
}
/*---------------------------------------------------------Below 700px width---------------------------------------------------------------------*/
@media only screen and (max-width:700px) {      
  .container__app_contain> .left , .right{
    padding: 2rem 1rem;
  }
  .container__app_contain>.right>.inputtext{
    flex-direction: column;
  }
  .container__app_contain{
    width: 90%;
    flex-direction: column;
  }
  .container__app_contain>.right h1{
    font-size: 2rem;
  }
}
/*---------------------------------------------------------Below 600px width---------------------------------------------------------------------*/
@media only screen and (max-width: 600px){
  .navbar__menu_container .user__icon{
    display: flex;
  }
  .link{
    display: none;
  }
  .navbar{
    padding: 16px;
  }
  .hero__section{
    min-height: 80vh;
  }
  .hero__section_container_input{
    background: transparent;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
  }
  .input_location ,
  .input_search{
    border-radius: 10px;
    width: 95%;
  }
  .hero__section_container{
    height: calc(80vh - 60px);
  }
  .hero__section_title{
    width: 80%;
    font-size: 20px;
  }
}
/*---------------------------------------------------------Below 500px width---------------------------------------------------------------------*/
@media only screen and (max-width:500px) {      
  .container__app_contain> .left , .right{
    padding: 1rem 0rem;
  }
  .container__app_contain>.right>.inputtext{
    flex-direction: column;
  }
  .container__app_contain{
    width: 95%;
    flex-direction: column;
  }
  .container__app_contain>.right{
    align-items: center;
    justify-content: center;
  }
  .container__app_contain>.right h1{
    font-size: 1.5rem;
  }
  .container__app{
    width: 95% ;
    padding: 2rem 3rem;
  }
}